/*feuille de style de la page google*/
body {
	font-family: Arial, Sans-serif;
	font-size: 13px;
	color: #222;
}
header {
	height: 180px;
	width: 100%;
	margin-top: 5px;
}

/*debut navbar du haut*/
nav {

	display: flex;
	justify-content: flex-end;	
}

li, footer li {
	display: inline-flex;
	align-items: center;
	list-style-type: none;
	padding: 5px;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	text-decoration: underline;
	color:#757575;
}

.icon-appli{
	width: 15px;
	height: 15px;
	background-image: url(icon-appli.png);

}
/*personnalisation du bouton de connexion*/
.connexion {
	line-height: 5px;
	padding: 12px;
	border: 1px solid #4285f4;
	border-radius: 2px;
	font-weight: bold;
	background-color: #4285f4;
	background: linear-gradient(top,#4387fd,#4683ea);
}

.connexion a{
	text-decoration: none;
	color:white;
}
/*fin navbar du haut*/
/*Personnalisation du main content*/

#main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 390px; 
	
}
/*Personnalisation de la barre de recherche*/
.searchbar {
	width: 570px;
	height: 37px;
	box-shadow: 2px 2px 1px #222;
	opacity: 0.3;
}

/*Personnalisation des deux boutons sous la barre de recherche*/

form {
	width: 570px;
	height: 150px;
}

.btn-search1 {
	background-color: #f2f2f2;
	color: #757575;
	height: 35px;
	font-weight: bold;
	margin-left: 150px;
	float: left;
	margin-top: 40px;
	border: 1px solid #f2f2f2;
}

.btn-search2 {
	background-color: #f2f2f2;
	color: #757575;
	height: 35px;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 40px;
	border: 1px solid #f2f2f2;
}

.btn-search1:hover{
	color: #222;
	border: 1px solid #c6cacc;
}

.btn-search2:hover{
	color: #222;
	border: 1px solid #c6cacc;
}


/*pieds de page*/
footer {
	background-color: #f2f2f2;
	margin-top: 33px;
	height: 80px;
}

hr {
	border: 0.5px solid #c6cacc;
}

.foot2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10px
	
}

footer p {
	font-size: 1.1em;/*Ajout d'une taille au p*/
	line-height: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 45px;
}

footer li {
	margin-right: 10px;
	padding-top: 15px;
}

footer li, a, p {
	color:#757575;
}


